@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap'); /* import google font */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* for universal use */
  font-family: 'Poppins', sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-image: url('../image/background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-blend-mode: multiply;
  font-weight: bolder;
}

nav{
  position: fixed;
  display: flex;
  background-color: rgba(65, 105, 225, 1);
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  height: 70px;
  width: 100%;
  z-index: 1;
}

nav ul{
  list-style-type: none;
  margin-left: 15px;
}

nav ul li {
   display: inline-block;
   padding: 8px 12px;
   border-radius: 3px;
}

nav ul li a {
   text-decoration: none;
   color: #fff;
   font-size: 14px;
}
/* Section part */

article{
  margin-top: 80px;
  margin-bottom: 110px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

article>h1{
  text-align: center;
  font-weight: bolder;
  padding: 15px;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 90%;
  margin-top: 35px;
}

.project{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid #000;
  padding: 15px;
  margin: 2px;
  border-radius: 5px;
}

.project>p{
  text-align: center;
  font-size: small;
}

.project>h3{
  text-align: center;
  padding: 5px;
}

.project i{
  font-size: 50px;
}

figure{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

figure img{
  margin-top: 150px;
  width: 40%;
  height: 40%;
  border-radius: 50%;
  border: 3px solid royalblue;
  padding: 5px;
}

figcaption{
  margin-top: 15px;
}

 h3, h4{
  text-align: center;
  font-weight: bold;
  color: #000;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

img {
  width: 200px;
  height: 120px;
}

<<<<<<< HEAD
=======
.contents {
  max-width: 850px;
  width: 85%;
  margin: 0 auto;
  padding: 75px 0;
}

/*SECTION DIVIDER*/
.divider > section {
  border-bottom: 0.5px dashed #969494;
  padding: 30px 0;
}

.divider > section:last-of-type {
  border-bottom: none;
}

/* PROJECTS */

.projects {
  background: #ffffff;
}

.projects a {
  color: #2f5db4;
}

.projects .btn {
  color: #F7FFF7;
  background: rgba(65, 105, 225, 0.9);
  text-decoration: none;
  padding: 7px;
  border-radius: 15px;
  display: inline-block;
}

.projects .btn:hover {
  background-color: rgba(39, 86, 230, 0.9);
}

.project {
  overflow: hidden;
}

.project img {
  float: left;
  margin-right: 20px;
}

.project h3 {
  margin-top: 0;
}

>>>>>>> 6d892ab41a1e3118ad594374c8e535821aca2e6f
/*FOOTER PART*/
footer{
  position: fixed;
  display: flex;
  background-color: rgba(65, 105, 225, 1);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100px;
  width: 100%;
  bottom: 0;
}

footer ul{
  list-style-type: none;
  margin-bottom: 15px;
}

footer ul li{
  display: inline-block;
  padding: 5px;
  border-radius: 2px;
}

footer li a{
  text-decoration: none;
  
}

footer i{
  width: 25px;
  height: 25px;
  color: #fff;
  cursor: pointer;
  border-radius: 50%;
  border: 1px solid #fff;
  text-align: center;
  padding: 4px;
}

footer p{
  font-size: 10px;
  color: #fff;
  text-align: center;
}



